
src/back/VendingMachine.API/bin/

src/back/VendingMachine.API/obj/

src/back/VendingMachine.Application/bin/

src/back/VendingMachine.Application/obj/

src/back/VendingMachine.Domain/bin/

src/back/VendingMachine.Domain/obj/

src/back/VendingMachine.Infrastructure/bin/

src/back/VendingMachine.Infrastructure/obj/

src/docker/front/bin/

src/docker/front/obj/

src/front/VendingMachine.Presentation/bin/

src/front/VendingMachine.Presentation/obj/

*.user

.vs/
